* {
  text-rendering: geometricPrecision;
}

body {
    margin: 0 0 0 0;
    padding: 0;
}

:root {
    --fontSizeTitle: 0.7em;
    --fontFamilyTitle: "neue-haas-unica";
    --fontWeightTitle: 500;
    --lineHeight: 1;
}

.work-container {
  width:50vw;
  height:100vh;
  position: absolute;
  box-sizing: border-box;
  padding:1em;
  font-size: var(--fontSizeTitle);
  font-family: var(--fontFamilyTitle);
  font-weight: var(--fontWeightTitle);
  line-height: var(--lineHeight);
  overflow-y: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.work-container::-webkit-scrollbar {
  display:none;
}

.work-item a {
  text-decoration: none;
  color:black;
}
.work-item a:hover{color:white;background-color: black;}

.work-title {
  width:fit-content;
  max-width: 30vw;
  height:fit-content;
}

.work-title:hover {
  background-color: black;
  color:white;
  cursor: pointer;
}

.slideshow-container {
  max-width: 50vw;
  position: relative;
  margin: auto;
  float:left;
  padding: 1em 0 1em 0;
  font-weight: 500;
}

.slideshow-container img {
  width: 100%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 4em;
  width: calc(25vw - 4em);
  height: calc(95% - 4em);
  padding: 16px;
  margin-top: -3em;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next:hover {
  cursor: e-resize;
}
.prev:hover {
  cursor: w-resize;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selectEnable { 
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

.info-container {
  width:50vw;
  height:100vh;
  position: absolute;
  box-sizing: border-box;
  padding:1em;
  font-size: var(--fontSizeTitle);
  font-family: var(--fontFamilyTitle);
  font-weight: var(--fontWeightTitle);
  line-height: var(--lineHeight);
  left:50vw;
  overflow-y: auto;
}

.info-container a {
  text-decoration: none;
  color:black;
}

.info-container a:hover {
  background-color: black;
  color:white;
}

@media only screen and (max-device-width : 1024px) { 

  :root {
    --fontWeightTitle: 500;
}
  
  .work-container {
    width:100vw;
    position: relative;
    height:auto;
  }

  .work-title {
    max-width: 100vw;
  }

  .slideshow-container {
    max-width: 100vw;
  }

  .info-container {
    width:100vw;
    height:auto;
    left:0;
    position: relative;
    padding-top: 10em;
  }

  .prev, .next {
    width: calc(50vw - 4em);
  }

}