@font-face {
    font-family: Junicode;
    src: url("Junicode-RegularCondensed-webfont.woff");
}

* {
    text-rendering: geometricPrecision;
}

#acknowledgement {
    position:fixed;
    display:none;
    width:100vw;
    height:100vh;
    background: rgba(255,255,255,0.9);
    z-index: 20;
    transition: 0.25s ease-out;
    cursor:pointer;
}

#acknowledgement p {
    position:relative;
    padding:50px;
    width:40vw;
    height:70vh;
    font-family: Times;
    font-weight: 400;
    font-size: 3vw;
    left:20%;
    top:30%;
    transform:translate(-50%,-50%);
    pointer-events: all;
    line-height: 1;
    margin-bottom:-30%;
}

a {
    text-decoration: none;
    color:black;
    transition:color 0.3s;
}

a:hover {
    color:rgb(207, 207, 207);
}

#left-title{
    position:fixed;
    width:20vw;
    height:100vw;
    padding:10px;
    top:95%;
    z-index: 3;
}

#left-title h1 {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.6;
    z-index: 3;
}

#mid-title{
    position:fixed;
    width:50vw;
    left:40vw;
    height:100vw;
    padding:10px;
    top:95%;
    z-index: 3;

}

#mid-title h1 {
    position:relative;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.6;
}

#right-title{
    position:fixed;
    width:20vw;
    left:87vw;
    height:100vw;
    padding:10px;
    top:95%;
    z-index:3;

}

#right-title h1 {
    position:relative;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.6;
}

#home-img{
    max-height:70vh;
}

#about p {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 3vw;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    position:relative;
  }

  .mySlides img {
    position:relative;  
    top:50%;
    left:50%;
    transform:translate(-50%,0);
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
.next {
    border-radius: 3px 0 0 3px;
    right:-5px;
}

.prev {
    left:-5px;
}

  @media only screen and (max-device-width : 1024px) {

    #home-img {
        max-height:50vh;
    }

    #left-title h1{
        font-size: 3.5vw;
    }
    #mid-title h1{
        font-size: 3.5vw;
        line-height: 1.5;
    }
    #right-title h1{
        font-size:3.5vw;
    }
    #left-title{
        width:40vw;
        left:10px;
        top:62vh;
    }
    #mid-title{
        width:95vw;
        left:10px;
        top:70vh;
    }
    #right-title{
        width:95vw;
        left:10px;
        top:82vh;
    }
    .mySlides img {
        max-width:80vw;
      }
    .prev, .next {
        top:30%;
    }
    .prev {
        left:-5px;
    }
    .next {
        right:-5px;
    }
    a:hover{
        color:black;
    }
  }
  