@font-face {
    font-family: 'Unica';
    src: url("NeueHaasUnica-Regular.ttf");
}

body {
    margin: 0 0 0 0;
    padding: 0;
    text-rendering: geometricPrecision;
    font-family: Unica, Helvetica;
    font-size: 0.6em;
}

.info {
    width:100vw;
    z-index:2;
    position:fixed;
    display:flex; 
    padding:10px;
    text-align: left;
}

.index {
    width:100vw;
    z-index:2;
    position:fixed;
    display:flex; 
    padding:10px;
    text-align: left;
    bottom:0;
}

.index dt, .index dd { 
    float: left; 
}

.index dt { 
    clear: left; 
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #image-container img {
    max-width: 60vw;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  #image-container img.active {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  #image-container:hover {
      cursor: e-resize;
  }


@media only screen and (max-device-width : 1024px) { 
    
    #image-container img {
        max-width: 101vw;
      }

    .web {
        display:0;
    }

}