@font-face {
    font-family: 'Unica';
    src: url("NeueHaasUnica-Regular.ttf");
}

body {
    margin: 0 0 0 0;
    padding: 0;
    text-rendering: geometricPrecision;
    font-family: Helvetica;
    font-weight: 800;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
}

.top-content {
    box-sizing: border-box;
    font-size: 2.5em;
    padding:20px;
    width:100vw;
}

.header-container {
    display:flex;
    width:100vw;
    background-color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding:5px;
    box-sizing: border-box;
}

.sticky {
    position:fixed;
    top:0;
}

.header-element {
    left:0;
    width:100%;
}

.menu-element {
    width:100%;
    text-align: right;
    cursor: pointer;
}

#header-dropdown {
    display:none;
}

.content-container {
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top:0;
}

.content-header {
    width: 33vw;
    box-sizing: border-box;
    padding:20px;
    font-size: 0.6em;
}

.content-element {
    width: 70vw;
    box-sizing: border-box;
    padding:10px;
    font-size: 0.6em;
    font-weight: 400;
    justify-content: flex-start;
}

.content-element img {
    max-width: calc(70vw - 20px);
    height:auto;
}

#content-button {
    cursor: pointer;
}

#content-expanded {
    display:none;
}

#content-expanded2 {
    display:none;
}


@media only screen and (max-device-width : 1024px) { 
    
    .top-content {
        width:100vw;
        box-sizing: border-box;
        padding-bottom: 1em;
        font-size: 1.2em;
        display:none;
    }

    .content-header {
        width:100vw;
    }
    
    .header-element {
        min-width: 0;
        font-size: 0.8em;
    }

    .menu-element {
        min-width: 0;
        font-size: 0.8em;
        display:none;
    }
    
    
    .content-element {
        width:100vw;
    }

    .content-element img {
        max-width: calc(100vw - 20px);
    }

}