* {
    cursor:none;
    text-rendering: geometricPrecision;
}

#circle {
    position:absolute;
    transform:translate(-50%,-50%);
    height:0.5px;
    width:0.5px;
    border-radius:50%;
    border:6px solid black;
    pointer-events:none;
    z-index: 5;
}

#top-text {
    font-family: Times;
    font-weight: 400;
    font-size: 14px;
    position:fixed;
}

#top-text a {
    text-decoration: none;
    color:black;
    transition:color 0.3s;
}

#top-text a:hover {
    color:rgb(221, 221, 221);
}

#cv {
    position:absolute;
    left:30%;
    font-family: Times;
    font-weight: 400;
    font-size: 14px;
    width:60vw;
}

#cv .italic {
    font-style: italic;
}

#flex-container {
    display:flex;
    flex-wrap: wrap;
    max-width:85vw;
    height:100vh;
    margin:auto;
}

#left-column {
    max-width:50%;
    min-width: 300px;
    max-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left-column img {
    max-width:80%;
    transition:ease-out 0.3s;
}

#left-column img:hover {
    opacity:0.5;
}

#left-column p {
    font-size: 12px;
    transform:translateY(16vw);
    position:relative;
    margin:0 auto;
}

#left-column .rotate {
    transform: rotate(-90deg);
    position: absolute;
    align-self: center;
}

#left-column .img1 {
    display:flex;
    justify-content: space-evenly;
    width:100%;
}

#right-column {
    max-width:50%;
    min-width: 300px;
    max-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-end;
}

#right-column img {
    max-width:40%;
    padding:10px;
    position:relative;
    transition:ease-out 0.3s;
}

#right-column img:hover {
    opacity:0.5;
}

#right-column p {
    font-size: 12px;
    position:relative;
    margin:0 auto;
}

#right-column .rotate {
    transform: rotate(-90deg);
    position: absolute;
    align-self: center;
}

#right-column .img1 {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:70%;
}

#work-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:99vw;
}

#work-container img {
    max-width:40%;
    padding:10%;
}

@media only screen and (max-device-width : 1024px) {

    #body-index {
        overflow-x:hidden;
    }

    #flex-container {
    transform:translateY(10%);
    }
    
    #right-column p {
        transform:translateY(25vw);
        font-size: 10px;
    }

    #left-column p {
        transform:translateY(37vw);
        font-size: 10px;
    }

}